# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
**/node_modules/

# Dist
dist/*

# Public
public/*

# OSX
.DS_Store

# IDE
.idea
.vscode

# config
postcss.config.cjs
postcss.config.js

